.product {
    display: flex;
    align-items: center;
    border-radius: .5rem;
    position: relative;
}


.product__image {
    position: relative;    
    margin-right: 2rem;  
}

.product__image > img {
    width: 70px;
    height: 70px;
    border-radius: .5rem;
}

.product__discount {
    position: absolute;
    bottom: .38rem;
    right: 0;
    background-color: var(--discount-color);
    border-bottom-right-radius: .5rem;
    border-top-left-radius: .5rem;
    padding: 0 .38rem;
    color: #fff;
    font-weight: bold;
}

.price__discount {
    text-decoration: line-through;
    font-size: 14px;
    margin-top: 0;
}

.product__info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.price {
    font-size: 14px;
}

.add-to-cart {
    border: 2px solid var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .3rem;
    padding: .2rem .5rem;
    color: var(--main-color);
    font-weight: bold;
    position: absolute;
    right: .5rem;
    bottom: 1rem;
    cursor: pointer;
}
