.header {
    position: sticky;
    top: 0;
    z-index: 999;
    position: relative;
}

.header > .container{
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}

.header .MuiSvgIcon-root, .header a {
    color: grey;
}

.header__left {
    display: flex;
    align-items: center;
}

.logo {
    background-color: #fff !important;
    height: 30px;
    width: 30px;
}

.header__leftInfo {
    margin-left: .5rem;
}

.header__leftInfo > p {
    font-size: 14px;
}

.header__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__right .MuiSvgIcon-root {
    margin-right: .5rem;
}

.header__right div a:first-child {
    margin-right: 3rem;
}


