:root {
  --main-color: #2766cc;
  --link-color: #336ecf;
  --discount-color: #dd655e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


body {
  font-family: 'Titillium Web', sans-serif;
  background-color: #e6e6e6;
}

a {
  text-decoration: none;
}

.container {
  width: 96vw;
  max-width: 1100px;
  margin: auto;
}