.related:not(:last-child){
    margin-right: 1rem;
}

.related > img {
    height: 170px;
    width: 170px;
    border-radius: .5rem;
}


@media(max-width: 900px){
    .related > img {
        width: 100%;
    }
}

